<div class="container">
  <div class="text-wrapper">
    <a href="/#/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go home</a>
    <h2>MY LEVEL 50 CHARACTER</h2>
    <p>
      Living on an off-grid homestead near the ocean, I wake up without an alarm, drink local spring
      water and walk outside barefoot for a morning movement session — strength training, running,
      martial arts tricking, mobility flow, bouncing and flipping on the trampoline, or a surf session. I
      am ripped, freakishly strong, acrobatic, and highly flexible.
      Breakfast of foraged/farmed local ingredients — deeply nourishing and energizing. Then it’s off to
      “work!” I don’t <em>have</em> to work for money as I’m financially independent and/or 100% self sufficient,
      but I choose to tackle fun, diverse and meaningful passion-projects that serve the planet, my community and
      myself — permaculture and homestead design, filmmaking, language learning, music, archery, foraging,
      writing… with friends or alone I get lost in “flow” and actively seek growth, fulfillment and
      adventure. My afternoons are spent lounging in the sun with a good book, hiking/rock climbing in
      the mountains, cuddled by the fire as snow falls outside, or immersed in a passion-project. Evenings
      are spent with family and friends, outside around a fire, laughing under the stars and eating a
      home-cooked meal (made in our clay pizza oven). Life is aligned with nature’s rhythms — organic,
      stress-free, ever-changing and alive with love, energy, health and connection.
    </p>
    <p>
    During the coldest months of the year I pack my backpack and board a plane in search of adventure,
    spending 3-4 months hiking volcanoes in Hawaii, camping in Patagonia, wwooffing in the Caribbean,
    riding motorcycles in the Himalayas, road-tripping around New Zealand… crossing epic items off my
    list, expanding my horizons, meeting incredible people and living a good story.
    </p>
    <h2>Visual inspiration</h2>
    <div class="image-wrapper">
      <div
    </div>
  </div>
</div>
