<div class="container">
  <div class="text-wrapper">
    <a href="/#/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go home</a>
    <h2>MY CURRENT MISSIONS/PRIORITIES</h2>
    <p>
      For the next 3 months (June 2016 - September 2016) I'm in the "Summer Level". During this period, the
      quests I hope to achieve/habits I'd like to stick to are:
    </p>
    <ul>
      <li>Commit to three months at Lie-Nielsen; do a kick-ass job</li>
      <li>Drink a <a href="">morning detox tonic</a> upon waking and a <a href="">evening recovery tonic</a>
      before bed</li>
      <li>Stick to my <a href="">workout plan</a> without fail</li>
      <li>Make a tincture of pine pollen, chaga and reishi</li>
      <li>Complete Charisma on Command's 30-day program</li>
      <li>Attend a <a target="_blank" href='http://www.meetup.com/'>meetup</a></li>
      <li>Host a dinner party</li>
      <li>Take a wild-food foraging class</li>
      <li>Complete 3+ micro-adventures from <a target="_blank" href='/#/quest'>list</a></li>
      <li>Do a standing backflip</li>
      <li>Prepare a meal from 100% dumpster food</li>
    </ul>

</div>
