<div class="container">
  <div class="text-wrapper">
    <a href="/#/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go home</a>
    <h2>MY EPIC QUEST OF AWESOME</h2>
    <h3>Fitness</h3>
    <img src="">
    <ul>
      <li>Squat 200 lbs x 5</li>
      <li>Squat 300 lbs x 5</li>
      <li>Squat 400 lbs x 5</li>
      <li>Deadlift 200 lbs x 5</li>
      <li>Deadlift 300 lbs x 5</li>
      <li>Deadlift 400 lbs x 5</li>
      <li class="complete">Do 5 weighted pull-ups @ 50 lbs</li>
      <li>Do 5 weighted pull-ups @ 75 lbs</li>
      <li>Do 5 weighted pull-ups @ 100 lbs</li>
      <li>Do 5 weighted dips @ 50 lbs</li>
      <li>Do 5 weighted dips @ 75 lbs</li>
      <li>Shoulder press 100 lbs x 5</li>
      <li>Shoulder press 125 lbs x 5</li>
      <li>Do a one arm chin-up</li>
      <li>Do a strict ring muscle-up</li>
      <li>Do a strict bar muscle-up</li>
      <li>Train a martial art for 6 months</li>
      <li>Train capoeira/breakdancing for 6 months</li>
      <li>Do a standing backflip</li>
      <li>Do a 540 kick</li>
      <li>Do an aerial</li>
      <li>Do a back handspring</li>
      <li>Do a wall flip</li>
      <li>Do the side-splits</li>
      <li>Do the front-splits</li>
      <li>Hold a free handstand for 60 seconds</li>
      <li>Hold a free handstand for 90 seconds</li>
      <li>Complete 5 strict handstand push-ups</li>
      <li>Run a 6:00 mile</li>
      <li>Run a 5:30 mile</li>
      <li>Run a 5:00 mile</li>
      <li>Run a marathon</li>
      <li>Train with Ido Portal</li>
      <li>Try out for American Ninja Warrior</li>
      <li>Complete a Tough Mudder obstacle race</li>
      <li>Dunk a basketball</li>
    </ul>
    <h3>Work/Business</h3>
    <ul>
      <li class="complete">Interview for a web development job</li>
      <li class="complete">Land a 9-5 job</li>
      <li>Quit a 9-5 job</li>
      <li>Have $10k in the bank</li>
      <li>Achieve financial independence</li>
      <li>Stop working for money</li>
      <li>Take a filmmaking course</li>
      <li>Make a 10+ minute film and host premiere</li>
      <li>Raise $1000+ for a cause I believe in</li>
    </ul>
    <h3>Rewilding/Self-sufficiency</h3>
    <ul>
      <li>Take a wild-food foraging class</li>
      <li>Take an animal tracking class</li>
      <li>Take a permaculture design class</li>
      <li>Start a friction fire</li>
      <li>Bow hunt a deer, learn to use all parts</li>
      <li>Catch, gut and cook a fish over a fire</li>
      <li>Prepare a meal from 100% foraged/hunted food</li>
      <li>Camp/live outside for one month with no wifi</li>
      <li>Create an herbal tincture</li>
      <li>Build my own primitive bow</li>
      <li>Sleep in a hand-built shelter</li>
      <li>Live 100% off the land for one week</li>
      <li>Experience an entheogen</li>
      <li>Build a tiny house</li>
      <li>Learn to ferment sauerkraut/kombucha</li>
      <li>Prepare a meal from 100% dumpster food</li>
      <li>Plant a personal garden</li>
      <li>Aquire a bike and learn basic bike maintenance</li>
      <li>Create a bug-out bag</li>
      <li>Get tan on 100% of my body with no tan lines</li>
    </ul>
    <h3>Travel/Adventure</h3>
    <ul>
      <li>Visit Gros Morne National Park</li>
      <li>Bike around Nova Scotia and PEI</li>
      <li>Hike a volcano and surf in Hawaii</li>
      <li>Visit Italy on a “pizza tour”</li>
      <li>Visit the Seychelles</li>
      <li>Explore Iceland</li>
      <li>Learn Tango in Argentina</li>
      <li>Train martial arts on the beach in Thailand</li>
      <li>Train like a Shaolin warrior in China</li>
      <li>Bike across America</li>
      <li>Bungee jump in New Zealand</li>
      <li>Walk the AT, PCT or other long trek</li>
      <li>Attempt a high-line</li>
      <li>Go rock climbing outside</li>
      <li>Go to airport and buy ticket without knowing where I’m going</li>
      <li>Run in a foot race in Kenya</li>
      <li>Complete an open water swim</li>
      <li>Live out “a story for tomorrow” in Patagonia</li>
      <li>Do a gainer into water from 10+ feet</li>
      <li>Spend 1+ weeks living on a boat</li>
      <li>Live without money for one week</li>
      <li>Fly a plane and see a grizzly bear in Alaska</li>
      <li>Discover my roots in Scandinavia</li>
      <li>Learn to sword fight in UK or Germany</li>
      <li>Do a camper-van tour of Australia and NZ</li>
      <li>Ride a motorcycle in the Himalayas</li>
      <li>Do a 10-day Vipassina mediation course</li>
    </ul>
    <h3>Micro-adventures</h3>
    <ul>
      <li>Float down a river to the ocean in an inner tube</li>
      <li>Visit Quebec for a weekend and try to speak French</li>
      <li>Complete a multi-day bike journey across Maine</li>
      <li>Kayak to an island in Penobscot bay, make a fire, fish for dinner and camp</li>
      <li>Complete a multi-day kayak journey</li>
      <li>Hike Mt. Katahdin</li>
      <li>Hike to Lonesome Lake, NH</li>
      <li>Hike Tuckerman’s Ravine Trail on Mt. Washington</li>
      <li>Hike a mountain at night</li>
      <li>Spend a night sleeping in a hammock</li>
      <li>Go bouldering at Bradbury Mountain</li>
      <li>Find a geocache</li>
      <li>Go "stealth camping" somewhere beautiful</li>
    </ul>
    <h3>Learning/Intelligence</h3>
    <ul>
      <li class="complete">Learn to Speak ~fluent Spanish</li>
      <li>Learn to Speak ~fluent French</li>
      <li>Learn to Speak ~fluent German</li>
      <li>Learn to Speak ~fluent Hindi/Japanese/something exotic</li>
      <li>Practice the guitar consistently for 6 months</li>
      <li>Learn to play Revelation Blues by The Tallest Man on Earth</li>
      <li>Learn marksmanship/how to use a gun</li>
      <li class="complete">Learn how to code a web application</li>
      <li>Learn how to draw and create art piece to hang on wall</li>
      <li>Learn human anatomy in-depth</li>
    </ul>
    <h3>Social/Courage</h3>
    <ul>
      <li>Attend a Meetup</li>
      <li>Host a dinner party</li>
      <li>Complete Charisma On Command’s 30-day program</li>
      <li>Participate in Toastmasters for 3+ months</li>
      <li>Take an improv class</li>
      <li class="complete">Take an acting class</li>
      <li>Take a voice/accent class</li>
      <li>Sing in front of someone</li>
      <li>Have a role in a play</li>
      <li class="complete">Do a job interview</li>
      <li>Host/be a guest on a podcast</li>
      <li>Make a speech in front of 100+ people</li>
      <li>Approach 5 random people in a day</li>
      <li>Approach 10 random people in a day</li>
      <li>Practice talking to everyone for 6 months</li>
      <li>Read 5+ books on charisma/social skills</li>
    </ul>



  </div>
</div>
